.cart-item{
    display: flex;
    gap: 5rem;
    border-bottom: 2px solid rgba(128, 0, 128, 0.154);
    
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
    padding-bottom: 30px;
    height: 300px;
}

.cart-item img{
    width: 50%;
    border-radius: 5px;
}

.cart-item button{
    height: 40px;
    border-radius: 5px;
    background-color: yellow;
}